# **Project 2: Data Cleaning For UCI Credit Card file**

In [54]:
# Importing Data
import pandas as pd 
import numpy as np
df=pd.read_csv(r"F:\Project\Project_2\project_2_dataset\UCI_Credit_Card.csv")

In [55]:
# Reviewing the datasets
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000.0,1,3,1,39,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,1,3,1,41,1,-1,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,1,2,1,46,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [56]:
# Making column name in snake case format
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace('.','_')

# Replacing Columns name for more readable name
df = df.rename(columns={'pay_0':'pay_sep','pay_2':'pay_aug','pay_3':'pay_jul','pay_4':'pay_jun','pay_5':'pay_may','pay_6':'pay_apr','bill_amt1':'bill_amt_sep','bill_amt2':'bill_amt_aug','bill_amt3':'bill_amt_jul','bill_amt4':'bill_amt_jun','bill_amt5':'bill_amt_may','bill_amt6':'bill_amt_apr','pay_amt1':'pay_amt_sep','pay_amt2':'pay_amt_aug','pay_amt3':'pay_amt_jul','pay_amt4':'pay_amt_jun','pay_amt5':'pay_amt_may','pay_amt6':'pay_amt_apr'})

In [ ]:
# Replacing value for more clearance 

# replacing sex value from 1,2 to Male,female

df['sex'] =df.sex.replace(1,'Male')
df['sex'] =df.sex.replace(2,'Female')

# Replacing eduacation value where 1=graduate school, 2=university, 3=high school, 4=others, 5=unknown, 6=unknown

mapping_edu = {1:'Graduate School',2:'University',3:'High School', 4:'Others',5:'Unknown',6:'Unknown'}
df['education']=df.education.map(mapping_edu)

# Replacing marriage value where 1 = married, 2 = unmarried, 3=others

df['marriage']=df.marriage.replace({1:'Married',2:'Unmarried',3:'Others',0:'Unknown'})

,id,limit_bal,sex,education,marriage,age,pay_sep,pay_aug,pay_jul,pay_jun,...,bill_amt_jun,bill_amt_may,bill_amt_apr,pay_amt_sep,pay_amt_aug,pay_amt_jul,pay_amt_jun,pay_amt_may,pay_amt_apr,default_payment_next_month
0,1,20000.0,Female,University,Married,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,Female,University,Unmarried,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,Female,University,Unmarried,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,Female,University,Married,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,Male,University,Married,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000.0,Male,High School,Married,39,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,Male,High School,Unmarried,43,-1,-1,-1,-1,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,Male,University,Unmarried,37,4,3,2,-1,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,Male,High School,Married,41,1,-1,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,Male,University,Married,46,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [58]:
df.describe()

,id,limit_bal,age,pay_sep,pay_aug,pay_jul,pay_jun,pay_may,pay_apr,bill_amt_sep,...,bill_amt_jun,bill_amt_may,bill_amt_apr,pay_amt_sep,pay_amt_aug,pay_amt_jul,pay_amt_jun,pay_amt_may,pay_amt_apr,default_payment_next_month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,15000.500000,167484.322667,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,-0.266200,-0.291100,51223.330900,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,8660.398374,129747.661567,9.217904,1.123802,1.197186,1.196868,1.169139,1.133187,1.149988,73635.860576,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,1.000000,10000.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-165580.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,3558.750000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,15000.500000,140000.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22381.500000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67091.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,30000.000000,1000000.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,964511.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          30000 non-null  int64
 1   limit_bal                   30000 non-null  float64
 2   sex                         30000 non-null  object
 3   education                   29986 non-null  object
 4   marriage                    30000 non-null  object
 5   age                         30000 non-null  int64
 6   pay_sep                     30000 non-null  int64
 7   pay_aug                     30000 non-null  int64
 8   pay_jul                     30000 non-null  int64
 9   pay_jun                     30000 non-null  int64
 10  pay_may                     30000 non-null  int64
 11  pay_apr                     30000 non-null  int64
 12  bill_amt_sep                30000 non-null  float64
 13  bill_amt_aug                30000 non-null  float64
 14  bill_amt_jul                30000 non-null  float64
 15  bill_amt_jun                30000 non-null  float64
 16  bill_amt_may                30000 non-null  float64
 17  bill_amt_apr                30000 non-null  float64
 18  pay_amt_sep                 30000 non-null  float64
 19  pay_amt_aug                 30000 non-null  float64
 20  pay_amt_jul                 30000 non-null  float64
 21  pay_amt_jun                 30000 non-null  float64
 22  pay_amt_may                 30000 non-null  float64
 23  pay_amt_apr                 30000 non-null  float64
 24  default_payment_next_month  30000 non-null  int64
dtypes: float64(13), int64(9), object(3)
memory usage: 5.7+ MB

In [ ]:

df.education.unique()
# Replacing null values with unknown

df['education'] = df.education.fillna('Unknown')
df.education.value_counts()

education
University         14030
Graduate School    10585
High School         4917
Unknown              345
Others               123
Name: count, dtype: int64