# **Data Cleaning for Medical Appointment File**

In [ ]:
# Importing file

import pandas as pd 
import numpy as np
df=pd.read_csv(r"F:\Project\Project_2\project_2_dataset\Medical_appoint.csv")
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [ ]:
# Replacing columns value in lower case

df.columns=df.columns.str.lower()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   patientid       110527 non-null  float64
 1   appointmentid   110527 non-null  int64
 2   gender          110527 non-null  object
 3   scheduledday    110527 non-null  object
 4   appointmentday  110527 non-null  object
 5   age             110527 non-null  int64
 6   neighbourhood   110527 non-null  object
 7   scholarship     110527 non-null  int64
 8   hipertension    110527 non-null  int64
 9   diabetes        110527 non-null  int64
 10  alcoholism      110527 non-null  int64
 11  handcap         110527 non-null  int64
 12  sms_received    110527 non-null  int64
 13  no-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [ ]:
# changing the datatype  and name of the columns

df['scheduledday']=pd.to_datetime(df.scheduledday)
df['appointmentday']=pd.to_datetime(df.appointmentday)
df = df.astype({'scholarship':'category','hipertension':'category','diabetes':'category','alcoholism':'category','handcap':'category','sms_received':'category','patientid':int,'gender':'category','no-show':'category'})
df=df.rename(columns={'hipertension':'hypertension','handcap':'handicap','no-show':'no_show'})
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   patientid       110527 non-null  int64
 1   appointmentid   110527 non-null  int64
 2   gender          110527 non-null  category
 3   scheduledday    110527 non-null  datetime64[ns, UTC]
 4   appointmentday  110527 non-null  datetime64[ns, UTC]
 5   age             110527 non-null  int64
 6   neighbourhood   110527 non-null  object
 7   scholarship     110527 non-null  category
 8   hypertension    110527 non-null  category
 9   diabetes        110527 non-null  category
 10  alcoholism      110527 non-null  category
 11  handicap        110527 non-null  category
 12  sms_received    110527 non-null  category
 13  no_show         110527 non-null  category
dtypes: category(8), datetime64[ns, UTC](2), int64(3), object(1)
memory usage: 5.9+ MB

          patientid  appointmentid            age
count  1.105270e+05   1.105270e+05  110527.000000
mean   1.474963e+14   5.675305e+06      37.088874
std    2.560949e+14   7.129575e+04      23.110205
min    3.921700e+04   5.030230e+06      -1.000000
25%    4.172614e+12   5.640286e+06      18.000000
50%    3.173184e+13   5.680573e+06      37.000000
75%    9.439172e+13   5.725524e+06      55.000000
max    9.999816e+14   5.790484e+06     115.000000

In [ ]:
# Removing outlier in age using IQR

q1 = df['age'].quantile(0.25)
q3 = df['age'].quantile(0.75)
iqr=q3-q1
upper=q3+1.5 * iqr

df = df[(df['age']>=1) & (df['age']< upper)]
df.age.describe()

count    106982.000000
mean         38.312501
std          22.460622
min           1.000000
25%          19.000000
50%          38.000000
75%          56.000000
max         102.000000
Name: age, dtype: float64

In [ ]:
#removing rows with missing value

df=df.dropna()

In [ ]:
# checking each columns

df.gender.value_counts()
df.neighbourhood.value_counts()
df.scholarship.value_counts()
df.diabetes.value_counts()
df.handicap.value_counts()
df.hypertension.value_counts()
df.alcoholism.value_counts()
df.no_show.value_counts()
df.sms_received.value_counts()

sms_received
0    72398
1    34584
Name: count, dtype: int64

In [ ]:
#Changing value in handicap

df['handicap']=df['handicap'].replace({2:1,3:1,4:1})

C:\Users\maury\AppData\Local\Temp\ipykernel_5572\1374938605.py:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df['handicap']=df['handicap'].replace({2:1,3:1,4:1})

In [ ]:
# changing value of "no_show"

df['no_show']=df.no_show.replace({'No':0,'Yes':1})

C:\Users\maury\AppData\Local\Temp\ipykernel_5572\2672995618.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['no_show']=df.no_show.replace({'No':0,'Yes':1})
C:\Users\maury\AppData\Local\Temp\ipykernel_5572\2672995618.py:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df['no_show']=df.no_show.replace({'No':0,'Yes':1})

In [ ]:
# Scheduled days must not be greater than appointment days

df=df[df['scheduledday']<= df['appointmentday']]

In [ ]:
 # formatting neighbourhood column value

df['neighbourhood']=df.neighbourhood.str.capitalize()
df['neighbourhood']=df.neighbourhood.str.strip()

In [ ]:
# Removing rows with multiple appointment for same patient on same day

df = df.drop_duplicates(subset=['patientid', 'appointmentday'], keep='first')

In [ ]:
# making the date columns proper format

df['scheduledday'] = df['scheduledday'].dt.strftime('%Y-%m-%d %H:%M:%S')
df['scheduledday'] = pd.to_datetime(df['scheduledday'])

df['appointmentday'] = df['appointmentday'].dt.strftime('%Y-%m-%d')
df['appointmentday'] = pd.to_datetime(df['appointmentday'])

In [13]:
df.appointmentday

5        2016-04-29
6        2016-04-29
7        2016-04-29
9        2016-04-29
10       2016-04-29
            ...
110522   2016-06-07
110523   2016-06-07
110524   2016-06-07
110525   2016-06-07
110526   2016-06-07
Name: appointmentday, Length: 66365, dtype: datetime64[ns]

In [14]:

df

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hypertension,diabetes,alcoholism,handicap,sms_received,no_show
5,95985133231274,5626772,F,2016-04-27 08:36:51,2016-04-29,76,República,0,1,0,0,0,0,0
6,733688164476661,5630279,F,2016-04-27 15:05:12,2016-04-29,23,Goiabeiras,0,0,0,0,0,0,1
7,3449833394123,5630575,F,2016-04-27 15:39:58,2016-04-29,39,Goiabeiras,0,0,0,0,0,0,1
9,78124564369297,5629123,F,2016-04-27 12:48:25,2016-04-29,19,Conquista,0,0,0,0,0,0,0
10,734536231958495,5630213,F,2016-04-27 14:58:11,2016-04-29,30,Nova palestina,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2572134369293,5651768,F,2016-05-03 09:15:35,2016-06-07,56,Maria ortiz,0,0,0,0,0,1,0
110523,3596266328735,5650093,F,2016-05-03 07:27:33,2016-06-07,51,Maria ortiz,0,0,0,0,0,1,0
110524,15576631729893,5630692,F,2016-04-27 16:03:52,2016-06-07,21,Maria ortiz,0,0,0,0,0,1,0
110525,92134931435557,5630323,F,2016-04-27 15:09:23,2016-06-07,38,Maria ortiz,0,0,0,0,0,1,0
110526,377511518121127,5629448,F,2016-04-27 13:30:56,2016-06-07,54,Maria ortiz,0,0,0,0,0,1,0